<%- include('./partials/head.ejs') %> 
<body>
   <div class="contenedorMadre">
    <% if(locals.isLogged){ %>
        <nav class="container">
            <div class="logoContainer">
                <img src="../img/logo.jpeg" alt="">
            </div>
            <div>
                <a href="">Descubri</a>
                <a href="">Como funciona</a>
            </div>
            <div class="userLoggedContainer">
                <% if(userLogged.avatar.filename !== undefined){ %>
                    <img src="../img/avatars/<%= userLogged.avatar.filename %>" alt="">
                <% } else {%>
                    <img src="../img/avatars/default.jpeg" alt="">
                <% } %>    
                <h3>Hi <u><%= userLogged.name %></u> </h3>
                <a href="/profile">Profile</a>
            </div>
        </nav> 
    <% } else {%>
        <nav class="container">
            <div class="logoContainer">
                <img src="../img/logo.jpeg" alt="">
            </div>
            <div>
                <a href="">Discover</a>
                <a href="">How it works</a>
            </div>
            <div>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav> 
    <% } %>    
   </div>
</body>
</html>

<%- include('./partials/footer.ejs')  %> 
