<%- include('./partials/head.ejs') %> 
<body>
    <nav class="container">
        <div class="logoContainer">
            <img src="../img/logo.jpeg" alt="">
        </div>
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/profile">Profile</a>
        </div>

    </nav>
    
</body>
</html>

<%- include('./partials/footer.ejs')  %> 
