<%- include('./partials/head.ejs') %> 
<body>
   <div class="contenedorMadre">
    <% if(locals.isLogged){ %>
        <nav class="container">
            <div class="logoContainer">
                <a href="/">Logo</a>
            </div>
            <div class="nav_subcontainer_1">
                <a href="">Discover</a>
                <a href="">How it Works</a>
            </div>
            <div class="userLoggedContainer">
                <% if(userLogged.avatar.filename !== undefined){ %>
                    <img src="../img/avatars/<%= userLogged.avatar.filename %>" alt="">
                <% } else {%>
                    <img src="../img/avatars/default.png" alt="">
                <% } %>    
                <a href="/profile"><%= userLogged.name %></u></a>
                <a href="/logout">Log out</a>
            </div>
        </nav> 
    <% } else {%>
        <nav class="container">
            <div class="logoContainer">
                <a href="/">Logo</a>
            </div>
            <div class="nav_subcontainer_1">
                <a href="/">Discover</a>
                <a href="/">How it works</a>
            </div>
            <div>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav> 
    <% } %>    
   </div>
</body>
</html>

<%- include('./partials/footer.ejs')  %> 
