<%- include('./partials/head.ejs') %> 
<body>
    <div class="contenedorMadre">
        <%- include('./header.ejs') %> 

    <section class="mainSection container">
        <div class="divMainSection_1">
            <p>a</p>
            <select name="pais"> <!--Elegir Opcion-->
                <option value="All">All</option>
                <option value="forSale">For Sale</option>
                <option value="notForSale">Not For Sale</option>
        </select>
        </div>
        <div class="divMainSection_2">
            <p>b</p>
        </div>
    </section>

    </div>
</body>
</html>

<%- include('./partials/footer.ejs')  %> 