<%- include('./partials/head.ejs') %> 
<body>
    <div class="contenedorMadre">
        <%- include('./header.ejs') %> 

    <section class="mainSection container">
        <div class="divMainSection_1">
            <h3>Recently listed</h3>
        </div>
        <div class="divMainSection_2">
            <h3>Recently sold</h3>
        </div>
    </section>

    </div>
</body>
</html>

<%- include('./partials/footer.ejs')  %> 