<%- include('./partials/head.ejs') %> 
<body>

    <%- include('./header.ejs') %> 

    <section class="mainSection container">
        <div class="divMainSection_1">
            <h1>NFT Marketplace</h1>
        </div>
        <div class="divMainSection_2">
            <div>
                <img src="../img/unnamef.png" alt="">
            </div>
            <div>
                <img src="../img/unnamef.png" alt="">
            </div>
            <div>
                <img src="../img/unnamef.png" alt="">
            </div>
            <div>
                <img src="../img/unnamef.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>

<%- include('./partials/footer.ejs')  %> 