<%- include('./partials/head.ejs')  %> 

<%- include('./header.ejs') %> 

<body>
    <div class="contenedorMadre">
        <section class="container container_email_password_login">
            <h3>Login:</h3>
            <form action="/login" method='POST'>
                <div class="row g-3 sub_container_email_password_login">
                    <div class="col sub_container_email_login">
                      <input type="text" class="form-control" placeholder="Email" name="email">
                      <% if(locals.errors && errors.email){ %>
                        <span>
                            <%= errors.email.msg %> 
                        </span>
                    <% } %> 
                    </div>
                    <div class="col sub_container_password_login">
                      <input type="password" class="form-control" placeholder="password" name="password">
                    </div>
                </div>
                <div class="row sub_container_checkbox_login">
                    <div class="col">
                        <input type="checkbox" name="recordarUser" id="recordarUser"><label for="recordarUser">Recordar Usuario</label>
                    </div>
                </div>
                <input type="submit">  
            </form>
        </section>
    
        <div>
           
        </div>
    </div> 
</body>

<%- include('./partials/footer.ejs')  %> 