<%- include('./partials/head.ejs')  %> 

<%- include('./header.ejs') %> 

<body>

    <section>
        <h3>Login:</h3>
        <form action="/login" method='POST'>
            <div class="row g-3 container_name_surname_register">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Email" aria-label="Nombre" name="email">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="password" aria-label="Apellido" name="password">
                </div>
            </div>
            <input type="submit">  
        </form>
    </section>

    <div>
        <% if(locals.errors && errors.email){ %>
            <p>
                <%= errors.email.msg %> 
            </p>
        <% } %> 
    </div> 

    <a href="/register">Register</a>
</body>

<%- include('./partials/footer.ejs')  %> 

<style>
    * {
        text-align: center;
    }
    section {
        margin: 50px;
    }
</style>